[Unit]
Description=AMD enclave manager systemd service

[Service]
User=kanonTEE
WorkingDirectory=/home/kanonTEE/P3DX-SE-manager
ExecStart=/home/kanonTEE/.env/enclaveManager/bin/gunicorn --bind 0.0.0.0:4000 enclave_manager_new:app
Restart=always
RestartSec=10
StartLimitIntervalSec=300
StartLimitBurst=5

KillSignal=SIGTERM
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
